$color-light-s: #fafafa;
$color-light-xl: #fff;
$color-primary: #fbab7e;
$color-primary-light: #f7ce68;
$color-accent: #e74c3c;
$text-color: #c4c4c4;
$color-overlay: rgba(80, 80, 80, 0.4);

$content-width: 1200px;
$laptop-small-width: 1024px;
$tablet-width: 767px;
$tablet-small-width: 700px;
$mobile-big-width: 414px;
$mobile-small-width: 320px;
